<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name" style="font-weight: bold">Character Name</label>
    <input type="text" id="name" name="name" class="form-control" ngModel required #statectrl = "ngModel"/>
    <span class="alert-danger" *ngIf="statectrl.invalid && statectrl.touched">Please Enter a Valid Name!!</span>
  </div>
  <div class="form-group">
    <label for="side" style="font-weight: bold">Choose Side</label>
    <select name="side" id="side" class="form-control" ngModel>
      <option *ngFor="let option of availableSides" [value]="option.value">
        {{ option.display }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Add Character</button>
</form>

