<div>
<ul class="nav nav-pills">
  <li class="nav-item">
<!--    <a class="nav-link" [ngClass]="{active: chosenTab === 'all'}" (click)="onChose('all')" style="cursor: pointer">All</a>-->
    <a class="nav-link" routerLink="/character/all" routerLinkActive="active">All</a>
  </li>
  <li class="nav-item">
<!--    <a class="nav-link" [ngClass]="{active: chosenTab === 'light'}" (click)="onChose('light')" style="cursor: pointer">Light</a>-->
    <a class="nav-link" routerLink="/character/light" routerLinkActive="active">Light</a>
  </li>
  <li class="nav-item">
<!--    <a class="nav-link" [ngClass]="{active: chosenTab === 'dark'}" (click)="onChose('dark')" style="cursor: pointer">Dark</a>-->
    <a class="nav-link" routerLink="/character/dark" routerLinkActive="active">Dark</a>
  </li>
</ul>
  <router-outlet></router-outlet>
<!--  <app-list [characters] = "getCharacters()"></app-list>-->
</div>
